---
interface Props {
  icons: { name: string; icon: string }[];
  class: string;
  type?: "badge" | "icon";
}
const { icons, class: className, type } = Astro.props;
---

{
  icons &&
    icons.map((tech) =>
      type === "badge" ? (
        <div
          class:list={[
            "border border-text bg-bg rounded-xl",
            "text-text text-xs font-bold",
            "py-1 px-3 flex gap-2 items-center justify-center ",
          ]}
        >
          <p>{tech.name}</p>
          <img
            src={tech.icon}
            alt={tech.name}
            class={className}
            title={tech.name}
          />
        </div>
      ) : (
        <img
          src={tech.icon}
          alt={tech.name}
          class={className}
          title={tech.name}
        />
      ),
    )
}
