---
import Link from "./icons/Link.astro";
import Button from "./Button.astro";
import Github from "./icons/Github.astro";
import TechnhologiesBadge from "./TechnhologiesBadge.astro";
const projects = [
  {
    title: "RJPM.UI",
    subtitle: "Easy-to-Use Tailwind CSS Agnostic Components",
    description:
      "Es una librería de componentes hechos con TailwindCSS. Posee versiones de los componentes tanto para React como Astro.",
    link: "https://rjpm-ui.vercel.app/",
    github: "https://github.com/ricardojparram/rjpm-ui-components",
    img: "/assets/rjpm-ui.webp",
    video: "/assets/rjpm-ui.webm",
    alt: "Personal project rjpm.ui",
    technologies: ["Astro", "React", "Tailwind"],
  },
  {
    title: "NETEST",
    subtitle: "Check Your Internet Speed in Seconds",
    description:
      "Es una prueba de velocidad de internet inspirada en la simplicidad de fast.com. Al igual que tiene la funcionalidad de mostrar tu ip e informacion del ASN.",
    link: "https://netest-three.vercel.app/",
    github: "https://github.com/ricardojparram/network-test-app",
    img: "/assets/netest.webp",
    video: "/assets/netest.webm",
    alt: "Personal project NETEST",
    technologies: ["Astro", "React", "Tailwind"],
  },
  {
    title: "Sistema de Inventario",
    subtitle: "Fundación Centro Médico Wesley",
    description:
      "Es un sistema de gestión de inventario médico para las distintas sedes alrededor del país del Centro Médico Wesley. Éste sistema cumple con la administración de todo tipo de inventario y transacciones entre sedes.",
    img: "/assets/inventario_wesley.webp",
    video: "/assets/inventario_wesley.webm",
    alt: "Work Project Inventario Wesley",
    technologies: ["PHP", "Mysql", "Bootstrap"],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    projects.map((project) => (
      <article class="grid grid-cols-2 gap-y-10 px-3 md:px-0 text-pretty group/project hover:scale-105 transition-transform duration-300 relative">
        <div class="col-span-2 md:col-span-1  aspect-video rounded-lg overflow-hidden w-full md:w-[380px] relative shadow-[rgba(59,_59,_81,_0.25)_0px_50px_80px_-20px,_rgba(81,_81,_89,_0.3)_0px_30px_30px_-30px]">
          <a
            href={project.link || "#"}
            target="_blank"
            aria-label={"Visita la web del proyecto" + project.title}
          >
            <img
              decoding="async"
              loading="lazy"
              src={project.img}
              alt={project.alt + " image"}
              class={`object-cover w-full absolute aspect-video transition-opacity duration-300 ${project.video ? "hidden md:block md:opacity-100 md:group-hover/project:opacity-0" : ""}`}
            />

            {project.video && (
              <video
                autoplay
                loop
                muted
                class="object-cover w-full h-full absolute aspect-video transition-opacity duration-300 opacity-100 md:opacity-0 md:group-hover/project:opacity-100 md:group-hover/project:relative"
              >
                <source src={project.video} type="video/webm" />
              </video>
            )}
          </a>
        </div>
        <div class="col-span-2 md:col-span-1 flex flex-col gap-y-3 py-2">
          <h3 class="text-lime-600 dark:text-lime-400 font-extrabold text-xl dark:group-hover/project:text-lime-500 group/title">
            <strong class="">{project.title}</strong> - {project.subtitle}
          </h3>

          <p class="text-base">{project.description}</p>
          <div class="grid grid-cols-3">
            <span class="col-span-2 flex gap-2 items-center">
              {project.github && (
                <Button link={project.github} class="text-base w-fit">
                  <Github class="w-5 h-5" />
                  Código
                </Button>
              )}
              {project.link && (
                <Button link={project.link} class="text-base w-fit">
                  <Link class="w-4 h-4" />
                  Visitar
                </Button>
              )}
            </span>
            <span class="col-span-1 flex gap-3 items-center">
              <TechnhologiesBadge
                icons={project.technologies}
                class="w-5 h-5"
              />
            </span>
          </div>
        </div>
      </article>
    ))
  }
</div>
