---
import Link from "./icons/Link.astro";
import Button from "./Button.astro";
import Github from "./icons/Github.astro";
import TechnhologiesBadge from "./TechnhologiesBadge.astro";
import { projects } from "../lib/projects.ts";
import Modal from "./Modal.astro";
const grid_styles = {
  mobile: "md:col-span-5 md:row-span-2",
  pc: "md:col-span-8 md:row-span-1",
};
---

<div
  class:list={[
    "w-full md:p-6",
    "grid grid-cols-1 md:grid-cols-13 md:grid-rows-[repeat(9,minmax(50px,100px)] gap-6 my-10",
  ]}
>
  {
    projects.map((project, i) => (
      <article
        class:list={[
          "text-base  flex flex-col gap-y-6 text-pretty group/project transition-transform duration-300 relative",
          grid_styles[project.mobile ? "mobile" : "pc"],
        ]}
        onclick={`document.querySelector('#${"project-" + i}').showModal()`}
      >
        <div
          class:list={[
            project.mobile
              ? "aspect-[14/16] md:aspect-[9.4/18]"
              : "aspect-video",
            "overflow-hidden rounded-lg w-full relative shadow bg-slate-100 dark:bg-slate-800",
          ]}
        >
          <div class="absolute inset-0">
            <div class="relative w-full h-full">
              {[0, 1].map(() => (
                <div
                  class:list={[
                    "absolute z-10 inset-x-0 bottom-0 ",
                    "bg-gradient-to-b from-transparent via-slate-500/10 to-slate-500/30 group-hover/project:via-slate-400/10 group-hover/project:to-slate-400/40 transition-colors duration-300",
                    "mask-to-b backdrop-blur-md",
                    project.mobile ? "h-[20%]" : "h-[30%]",
                  ]}
                />
              ))}
              <div class="absolute flex justify-between z-10 inset-x-0 bottom-0">
                <h3 class="text-slate-100 font-bold px-3 py-2">
                  {project.title}
                </h3>
                <div class="flex gap-2 self-end px-3 py-2">
                  <TechnhologiesBadge
                    icons={project.technologies}
                    class="w-6 h-6"
                  />
                </div>
              </div>
            </div>
          </div>
          <img
            decoding="async"
            loading="lazy"
            src={project.img}
            alt={project.alt + " image"}
            class:list={[
              "aspect-auto",
              "object-cover object-top w-full h-full absolute transition-opacity duration-300",
              {
                "hidden md:block md:opacity-100 md:group-hover/project:opacity-0":
                  project.video,
              },
            ]}
          />

          {project.video && (
            <video
              autoplay
              loop
              muted
              class="object-cover object-top w-full h-full absolute transition-opacity duration-300 opacity-100 md:opacity-0 md:group-hover/project:opacity-100 md:group-hover/project:relative"
            >
              <source src={project.video} type="video/webm" />
            </video>
          )}
        </div>
      </article>
    ))
  }
</div>
{
  projects.map((project, i) => (
    <Modal id={"project-" + i} title="Detalles del proyecto">
      <div class="p-5">
        <div
          class:list={[
            project.mobile
              ? "aspect-[12/16] w-[60%] mx-auto"
              : "aspect-video w-full",
            "rounded-lg overflow-hidden  relative mb-4 bg-slate-100 dark:bg-slate-800",
          ]}
        >
          {project.video ? (
            <video
              autoplay
              loop
              muted
              class="object-cover object-top w-full h-full absolute aspect-auto"
            >
              <source src={project.video} type="video/webm" />
            </video>
          ) : (
            <img
              decoding="async"
              loading="lazy"
              src={project.img}
              alt={project.alt + " image"}
              class={`object-cover object-top w-full absolute aspect-auto transition-opacity duration-300 ${project.video ? "hidden md:block md:opacity-100 md:group-hover/project:opacity-0" : ""}`}
            />
          )}
        </div>
        <div class="col-span-2 md:col-span-1 flex flex-col gap-y-3 py-2">
          <h3 class="strong-text font-extrabold text-xl dark:group-hover/project:text-lime-500 group/title">
            <strong class="">{project.title}</strong> - {project.subtitle}
          </h3>
          <div class="flex gap-2 flex-wrap">
            <TechnhologiesBadge
              icons={project.technologies}
              class="w-5 h-5"
              type="badge"
            />
          </div>

          <div class="text-base flex flex-col gap-3 my-2">
            {project.description.map((info) => (
              <p>{info}</p>
            ))}
          </div>

          <div class="flex justify-between">
            <span class="flex gap-2 items-center">
              {project.github && (
                <Button link={project.github} class="text-base w-fit">
                  <Github class="w-5 h-5" />
                  Código
                </Button>
              )}
              {project.link && (
                <Button link={project.link} class="text-base w-fit">
                  <Link class="w-4 h-4" />
                  Visitar
                </Button>
              )}
            </span>
          </div>
        </div>
      </div>
    </Modal>
  ))
}

<script define:vars={{ projects }} is:inline>
  const $projects = document.querySelectorAll("[data-project-id]");
  $projects.forEach((project) => {
    project.addEventListener("click", () => {
      console.log(project.dataset.projectId);
      const modal = document.querySelector(`#${project.dataset.projectId}`);
      modal.showModal();
    });
  });
</script>
