---
import Link from "./icons/Link.astro";
import Button from "./Button.astro";
import Github from "./icons/Github.astro";
import TechnhologiesBadge from "./TechnhologiesBadge.astro";
import type { TechnologiesType } from "../lib/technologies.ts";
import Modal from "./Modal.astro";
const grid_styles = {
  mobile: "md:col-span-5 md:row-span-2",
  pc: "md:col-span-8 md:row-span-1",
};
interface project {
  title: string;
  subtitle: string;
  description: string[];
  img: string;
  video?: string;
  alt: string;
  technologies: TechnologiesType[];
  mobile?: boolean;
  github?: string;
  link?: string;
}
const projects: project[] = [
  {
    title: "Sistema de Inventario",
    subtitle: "Fundación Centro Médico Wesley",
    description: [
      "Es un sistema de gestión de inventario médico para las distintas sedes alrededor del país del Centro Médico Wesley.",
      "Éste sistema cumple con la administración de todo tipo de inventario y transacciones entre sedes.",
    ],
    img: "/assets/inventario_wesley.webp",
    video: "/assets/inventario_wesley.webm",
    alt: "Work Project Inventario Wesley",
    technologies: ["PHP", "MySQL", "Bootstrap"],
  },
  {
    title: "App de Inventario",
    subtitle: "Aplicación móvil para el manejo de inventario",
    description: [
      "Es una aplicación móvil hecha para mejorar la portabilidad del Sistema de manejo de Inventario de la Fundación Centro Médico Wesley.",
      "En ésta aplicación se le permite al usuario revisar el inventario disponible por cada sede, productos dañados, empleados, donaciones, transferencias, compras y ventas.",
    ],
    github: "https://github.com/ricardojparram/app-inventario-wesley",
    img: "/assets/app-inventario-wesley.webp",
    alt: "Personal project App de Inventario",
    technologies: ["Expo", "React", "Jest"],
    mobile: true,
  },
  {
    title: "RJPM.UI",
    subtitle: "Easy-to-Use Tailwind CSS Agnostic Components",
    description: [
      "Es una librería de componentes UI hechos con TailwindCSS.",
      "Se pueden encontrar botones, cards, tipografias y mucho más.",
      "Posee versiones de los componentes tanto para React como Astro.",
    ],
    link: "https://rjpm-ui.vercel.app/",
    github: "https://github.com/ricardojparram/rjpm-ui-components",
    img: "/assets/rjpm-ui.webp",
    video: "/assets/rjpm-ui.webm",
    alt: "Personal project rjpm.ui",
    technologies: ["Astro", "React", "Tailwind"],
  },
  {
    title: "Cambio Rápido",
    subtitle: "Conversión del dólar en Venezuela",
    description: [
      "Es una aplicación móvil la cual se encarga de mostrar la conversión actual del dolar en Venezuela.",
      "Posee las tres tasas de cambio principales en el país: BCV, Paralelo y Promedio.",
    ],
    technologies: ["Expo", "React", "GraphQL"],
    link: "https://cambio-rapido.vercel.app//",
    img: "/assets/cambio-rapido.png",
    alt: "Personal project Cambio Rápido",
    mobile: true,
  },
  {
    title: "NETEST",
    subtitle: "Check Your Internet Speed in Seconds",
    description: [
      "Es una prueba de velocidad de internet inspirada en la simplicidad de fast.com.",
      "Al igual que tiene la funcionalidad de mostrar tu ip e informacion del ASN.",
    ],
    link: "https://netest-three.vercel.app/",
    github: "https://github.com/ricardojparram/network-test-app",
    img: "/assets/netest.webp",
    video: "/assets/netest.webm",
    alt: "Personal project NETEST",
    technologies: ["Astro", "React", "Tailwind"],
  },
  {
    title: "Chat Room",
    subtitle: "A websocket chat easy to host",
    description: [
      'Es un chat hecho utilizando PHP vanilla y la libería de websockets "Rachet".',
      "Tiene autenticación de usuarios para evitar el spam.",
      "La interfaz busca tener un estilo brutalista y animado.",
    ],
    github: "https://github.com/ricardojparram/ChatRoom",
    img: "/assets/chat-room.webp",
    alt: "Personal project ChatRoom",
    technologies: ["PHP", "MySQL", "CSS", "JQuery"],
  },
];
---

<div
  class:list={[
    "w-full p-6",
    "grid grid-cols-1 md:grid-cols-13 md:grid-rows-[repeat(9,minmax(50px,100px)] gap-6 my-10",
  ]}
>
  {
    projects.map((project, i) => (
      <article
        class:list={[
          "flex flex-col gap-y-6 text-pretty group/project transition-transform duration-300 relative",
          grid_styles[project.mobile ? "mobile" : "pc"],
        ]}
        onclick={`document.querySelector('#${"project-" + i}').classList.toggle('hidden')`}
      >
        <div
          class:list={[
            project.mobile
              ? "aspect-[14/16] md:aspect-[9.4/18]"
              : "aspect-video",
            "overflow-hidden rounded-lg w-full relative shadow-xl",
          ]}
        >
          <div class="absolute inset-0">
            <div class="relative w-full h-full">
              {[0, 1].map(() => (
                <div
                  class:list={[
                    "absolute z-10 inset-x-0 bottom-0 ",
                    "bg-gradient-to-b from-transparent via-slate-500/10 to-slate-500/30 group-hover/project:via-slate-400/10 group-hover/project:to-slate-400/40 transition-colors duration-300",
                    "mask-to-b backdrop-blur-md",
                    project.mobile ? "h-[20%]" : "h-[30%]",
                  ]}
                />
              ))}
              <div class="absolute flex justify-between z-10 inset-x-0 bottom-0">
                <h3 class="text-slate-100 font-bold px-4 py-2">
                  {project.title}
                </h3>
                <div class="flex gap-2 self-end px-4 py-2">
                  <TechnhologiesBadge
                    icons={project.technologies}
                    class="w-6 h-6"
                  />
                </div>
              </div>
            </div>
          </div>
          <img
            decoding="async"
            loading="lazy"
            src={project.img}
            alt={project.alt + " image"}
            class:list={[
              "aspect-auto",
              "object-cover object-top w-full h-full absolute transition-opacity duration-300 ",
              {
                "hidden md:block md:opacity-100 md:group-hover/project:opacity-0":
                  project.video,
              },
            ]}
          />

          {project.video && (
            <video
              autoplay
              loop
              muted
              class="object-cover w-full h-full absolute transition-opacity duration-300 opacity-100 md:opacity-0 md:group-hover/project:opacity-100 md:group-hover/project:relative"
            >
              <source src={project.video} type="video/webm" />
            </video>
          )}
        </div>
      </article>
    ))
  }
</div>
{
  projects.map((project, i) => (
    <Modal id={"project-" + i} title="Detalles del proyecto">
      <div class="p-5">
        <div
          class:list={[
            project.mobile
              ? "aspect-[12/16] w-[60%] mx-auto"
              : "aspect-video w-full",
            "rounded-lg overflow-hidden  relative mb-4",
          ]}
        >
          {project.video ? (
            <video
              autoplay
              loop
              muted
              class="object-cover w-full h-full absolute aspect-auto"
            >
              <source src={project.video} type="video/webm" />
            </video>
          ) : (
            <img
              decoding="async"
              loading="lazy"
              src={project.img}
              alt={project.alt + " image"}
              class={`object-cover w-full absolute aspect-auto transition-opacity duration-300 ${project.video ? "hidden md:block md:opacity-100 md:group-hover/project:opacity-0" : ""}`}
            />
          )}
        </div>
        <div class="col-span-2 md:col-span-1 flex flex-col gap-y-3 py-2">
          <h3 class="strong-text font-extrabold text-xl dark:group-hover/project:text-lime-500 group/title">
            <strong class="">{project.title}</strong> - {project.subtitle}
          </h3>
          <div class="flex gap-2">
            <TechnhologiesBadge
              icons={project.technologies}
              class="w-5 h-5"
              type="badge"
            />
          </div>

          <div class="text-base flex flex-col gap-3 my-2">
            {project.description.map((info) => (
              <p>{info}</p>
            ))}
          </div>

          <div class="flex justify-between">
            <span class="flex gap-2 items-center">
              {project.github && (
                <Button link={project.github} class="text-base w-fit">
                  <Github class="w-5 h-5" />
                  Código
                </Button>
              )}
              {project.link && (
                <Button link={project.link} class="text-base w-fit">
                  <Link class="w-4 h-4" />
                  Visitar
                </Button>
              )}
            </span>
          </div>
        </div>
      </div>
    </Modal>
  ))
}

<script define:vars={{ projects }} is:inline>
  const $projects = document.querySelectorAll("[data-project-id]");
  $projects.forEach((project) => {
    project.addEventListener("click", () => {
      console.log(project.dataset.projectId);
      const modal = document.querySelector(`#${project.dataset.projectId}`);
      modal.showModal();
    });
  });
</script>
