---
import type { TechnologiesType } from "../lib/technologies";
import { Technologies } from "../lib/technologies";
type type = "badge" | "icon" | undefined;
interface Props {
  icons: TechnologiesType[];
  class: string;
  type?: type;
}
const { icons, class: className, type } = Astro.props;
---

{
  icons.map((icon) => {
    const Component = Technologies[icon];
    return type === "badge" ? (
      <div class="border border-text bg-bg text-text px-2 py-1 flex gap-2 items-center justify-center text-base font-bold rounded-md">
        <p>{icon}</p>
        <Component class={className} title={icon} class="fill-text" />
      </div>
    ) : (
      <Component class={className} title={icon} />
    );
  })
}
